<script type="text/template" id="group_view_template">
  <div class="group">
    <div class="name">
      <%%= name %></h2>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Active?</th>
          <th>Name</th>
          <th>Description</th>
          <th>Price</th>
          <th></th>
        </tr>
      </thead>
      <tbody class="products"></tbody>
    </table>
  </div>
</script>
