<div class="record_table">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Active</th>
        <th>Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% menus.each do |menu| %>
        <%= content_tag :tr, data: {id: menu.id} do %>
          <td><%= activator(menu) %></td>
          <td><%= menu.name %></td>
          <td>
            <%= link_to 'Edit', edit_menu_path(menu), class: 'btn btn-primary' %>
          </td>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
