<script type="text/template" id="menus_view_template">
  <%= full_width_container do %>
    <%% menus.each(function(menu){ %>
      <a href="#<%%= menu.get("id") %>">
        <%%= menu.get("name") %>
      </a>
    <%% }); %>
    <div id="#menu"></div>
  <% end %>
</script>
