<script type="text/template" id="product_view_template">
  <td>
    <input type="checkbox" name="active" checked="<%%= active %>" class="form-control" />
  <td>
    <input type="text" name="name" value="<%%= name %>" class="form-control" />
  </td>
  <td>
    <input type="text" name="description" value="<%%= description %>" class="form-control" />
  </td>

  <td>
    <input type="text" name="price" value="<%%= price %>" class="form-control" />
  </td>
  <td>
    GRAB
  </td>
</script>
