<script type="text/template" id="product_view_template">
  <td>
    <input type="checkbox" name="active" checked="<%%= active %>" />
  <td>
    <input type="text" name="name" value="<%%= name %>" />
  </td>
  <td>
    <input type="text" name="description" value="<%%= description %>" />
  </td>

  <td>
    <input type="text" name="price" value="<%%= price %>" />
  </td>
  <td>
    GRABBER
  </td>
</script>
