<div id="menus">
</div>
<%= render partial: 'menus/menus_view_template' %>
<%= render partial: 'menus/menu_view_template' %>
<% content_for :page_js do %>
  <script>
    $(document).on("turbolinks:load", function(){
      let menus_app = new MenusApp;
      menus_app.start(<%== render template: 'menus/index.json' %>);
    })
  </script>
<% end %>
