<table id="order_table" class="table">
  <thead>
    <tr>
      <th>Active</th>
      <th>Id</th>
      <th>Total</th>
      <th>Time</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% orders.each do |order| %>
      <%= render partial: 'orders/show', locals: {order: order} %>
    <% end %>
  </tbody>
</table>
