<div id="orders">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="float-right archive_opener">
          <%= link_to 'Archives', orders_path(scope: :all) %>
        </div>
        <h1>Orders</h1>
        <%= content_tag :button,
                        "Clear Inactive Orders",
                        onclick: 'clearInactiveOrders()',
                        class: 'float-right btn btn-danger' %>

        <%= render partial: 'orders/index.html.erb', locals: {orders: @orders} %>
      </div>
    </div>
  </div>
</div>
