<%= form_with(model: record, local: true, index: record.id) do |form| %>
  <div class="activator">
    <div class="form-check">
      <%= form.check_box :active, class: 'form-check-input activator' %>
    </div>
  </div>
<% end %>
