<table class="order_items_table table table-striped">
  <thead>
    <tr>
      <th>Group</th>
      <th>Item</th>
      <th>Note</th>
    </tr>
  <tbody>
    <% order_items.sort{ |x, y| x.product.name <=> y.product.name }
                  .sort{ |x, y| x.product.group.name <=> y.product.group.name }
                  .each do |order_item| %>
      <%= content_tag :tr, data: {id: order_item.id} do %>
        <td><%= order_item.product.group.name %></td>
        <td><%= order_item.product.name %></td>
        <td><small><%= order_item.note %></small></td>
      <% end %>
    <% end %>
  </tbody>
</table>
