<div id="new_product">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>New Product</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <%= render 'form', product: @product %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <%= link_to @product.group.name,
                      edit_group_path(@product.group),
                      class: 'btn btn-warning' %>
        </div>
      </div>
    </div>
  </div>
</div>
