<div id="account">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div id="menus">
          <h2>
            <%= render partial: 'menus/index', locals: {menus: @account.menus} %>
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).on("turbolinks:load", function(){
    setupActivators("#menus", "menu");
  });
</script>
