<div id="account">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <%= link_to 'Edit Account', edit_account_path(@account), class: 'btn btn-small btn-primary float-right' %>
        <h1>Account</h1>
      </div>
    </div>
  </div>
</div>
