<div id="account">
  <%= full_width_container do %>
    <h1>Account</h1>
  <% end %>
  <div id="edit_account">
    <%= full_width_container do %>
      <%= render partial: 'form', locals: {account: @account} %>
    <% end %>
  </div>
  <ul id="menu_list" class="link_list">
    <% @menus.each do |menu| %>
      <li>
        <%= link_to menu.name, menu_path(menu) %>
      </li>
    <% end %>
  </ul>
</div>
